.period-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #0084ff;
    border-radius: 50%;
    margin: 0 0 -1px 2px;
}

:root:not([data-theme=dark]), [data-theme=light] {
    --pico-primary: #24a1dd;
}

.text--bold {
    color: var(--pico-primary);
}

article > img {
    width: 100%
}